<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- https://www.codeproject.com/Articles/10981/Understanding-Section-Handlers-App-config-File -->
		<section name="devopsVersions" type="System.Configuration.NameValueSectionHandler" />
		<section name="languages" type="System.Configuration.NameValueSectionHandler"/>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
   <section name="Vizsgaremek.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
   <section name="Vizsgaremek.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<devopsVersions>
		<add key="test" value="No database" />
		<add key="localhost" value="localhost" />
		<add key="devops" value="devops.vasvari.hu" />
	</devopsVersions>
	<languages>
		<add key="en-En" value="english" />
		<add key="hu-Hu" value="magyar" />
		<add key="fr-Fr" value="français" />
	</languages>
	<appSettings>
		<add key="appName" value="Vizsgaremek - Digitális napló" />
	</appSettings>
 <userSettings>
  <Vizsgaremek.Properties.Settings>
   <setting name="storedDataSource" serializeAs="String">
    <value>test</value>
   </setting>
   <setting name="storedDataSourceToolTip" serializeAs="String">
    <value>test</value>
   </setting>
   <setting name="storedLanguage" serializeAs="String">
    <value>hu-HU</value>
   </setting>
   <setting name="storedLanguageToolTip" serializeAs="String">
    <value>magyar</value>
   </setting>
  </Vizsgaremek.Properties.Settings>
 </userSettings>
 <applicationSettings>
  <Vizsgaremek.Properties.Settings>
   <setting name="developVersion" serializeAs="String">
    <value>True</value>
   </setting>
  </Vizsgaremek.Properties.Settings>
 </applicationSettings>
</configuration>